# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-added-large-files
      args: ['--maxkb=1024']
    - id: check-json
      types: [file]  # override `types: [json]`
      files: \.(json|ipynb)$
    - id: check-toml
    - id: check-yaml
      types: [file]
      files: \.(yml|yaml|cff)$
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
    - id: pyproject-fmt
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
    - id: validate-pyproject
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.1
    hooks:
    - id: sphinx-lint
      types: [rst]
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    - id: isort
      additional_dependencies: ["toml"]
      entry: isort --profile=black
      name: isort (python)
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
    - id: blacken-docs
      args: [--line-length=79]
      additional_dependencies:
      - black
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
  - repo: local
    hooks:
    - id: linkcheck
      entry: sphinx-build -b linkcheck docs _build/html
      name: linkcheck
      language: system
      files: $(git diff --staged --name-only "*")
