[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
jupyter = "*"
nbsphinx = "*"
jupyter-sphinx = "*"
pandas = "*"
matplotlib = "*"
sphobjinv = "*"
cython = "*"
line-profiler = {git = "https://github.com/rkern/line_profiler.git"}
memory-profiler = "*"
pytest = "*"
ipytest = "*"
ipython-unittest = "*"
jupyter-contrib-nbextensions = "*"
widgetsnbextension = "*"
yapf = "*"
jupyter-latex-envs = "*"
bqplot = "*"
pythreejs = "*"
ipyvolume = "*"
ipyleaflet = "*"
networkx = "*"
"autopep8" = "*"
numpy = "*"
plotly = "*"
cufflinks = "*"
ipysheet = "*"
jupyterhub = "*"
jupyter-dashboards = "*"
appmode = "*"
panel = "*"
holoviews = {extras = ["recommended"],version = "*"}
hvplot = "*"
voila = "*"
voila-gridstack = "*"
voila-debug = "*"
ipyvuetify = "*"
voila-vuetify = "==0.0.1a8"
dvc = "*"
ipympl = "*"
qgrid = "*"
ipywebrtc = "*"
ipyparallel = "*"
ipycanvas = "*"
plotnine = {extras = ["all"],version = "*"}

[dev-packages]

[requires]
python_version = "3.7"
