[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
jupyter = "*"
nbsphinx = "*"
pandas = "*"
matplotlib = "*"
sphobjinv = "*"
cython = "*"
line-profiler = {git = "https://github.com/rkern/line_profiler.git"}
memory-profiler = "*"

[dev-packages]

[requires]
python_version = "3.7"
