[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
jupyter = "*"
nbsphinx = "*"
pandas = "*"
matplotlib = "*"
sphobjinv = "*"
cython = "*"
line-profiler = {git = "https://github.com/rkern/line_profiler.git"}
memory-profiler = "*"
pytest = "*"
ipytest = "*"
ipython-unittest = "*"
jupyter-contrib-nbextensions = "*"
yapf = "*"
jupyter-latex-envs = "*"
bqplot = "*"
pythreejs = "*"
ipyvolume = "*"
ipyleaflet = "*"
networkx = "*"
"autopep8" = "*"
numpy = "*"
plotly = "<4"
cufflinks = "*"
ipysheet = "*"
jupyterhub = "*"
jupyter-dashboards = "*"

[dev-packages]

[requires]
python_version = "3.7"
