[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qgrid = "*"
pandas-datareader = "*"
dedupe = "*"
pythreejs = "*"
ipyvolume = "*"
importlib-metadata = "*"
shot-scraper = "*"
py-heat-magic = "*"

[dev-packages]

[requires]
python_version = "3.8"
