[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ploy = {version = "*",editable = true}

[packages]
pythreejs = "*"
ipyvolume = "*"
ipyleaflet = "*"
panel = "*"
holoviews = {extras = ["recommended"],version = "*"}
hvplot = "*"
ipyvuetify = "*"
bqplot = "*"
py-heat-magic = "*"
ipympl = "*"
qgrid = "*"
pandas-datareader = "*"
ipysheet = "*"
ipywebrtc = "*"
geojson = "*"
ipyparallel = "*"
ipycanvas = "*"
datashader = "*"
plotnine = {extras = ["all"],version = "*"}
pdvega = "*"
intake = "*"
intake-parquet = "*"
s3fs = "*"
python-snappy = "*"
pyviz-comms = "*"
ipylayout = "*"
dedupe = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
voluptuous = "*"
engarde = "*"
tdda = "*"

[requires]
python_version = "3.7.4"
