[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pythreejs = "*"
ipyvolume = "*"
ipyleaflet = "*"
autopep8 = "*"
geopandas = "*"
panel = "*"
holoviews = {extras = ["recommended"], version = "*"}
hvplot = "*"
selenium = "*"

[requires]
python_version = "3.7.4"
